<h1>Select Default Item for Fees</h1>
<div>
  <form method = "post" action = "set_default_fee">
    <select name="default_fee_item">
        <% @resp["QueryResponse"]["Item"].each do |item| %>
            <option value =<%= item["Id"] %>><%= item["Name"] %></option>
        <% end %>
    </select>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
