<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
  </head>
  <body>

  <h1>Select Default Item for Sales Receipts</h1>
  <div>
    <form method = "post" action = "set_default_item">
      <select name="default_item">
          <% @resp["QueryResponse"]["Item"].each do |item| %>
              <option value =<%= item["Id"] %>><%= item["Name"] %></option>
          <% end %>
      </select>
      <div>
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>

  </body>
</html>
