<form method="POST" action="process_report">
  <div>
    Statement Date: <br />
    <input type="text" name="statement_date"> (format: yyyy-mm-dd)
  </div>
  <h2>Pick a file</h2>
  <div>
    <label class="btn btn-default btn-file">
      Browse <input type="file" style="display: none;" name="report_file">
    </label>
  </div>
  <div>
    <input type="submit" class="btn btn-default" value="Submit">
  </div>
</form>
