<form method="POST" action="process_report">
  <div>
    Statement Date: <br />
    <input type="text" name="statement_date"> (format: yyyy-mm-dd)
  </div>
  <div>Pick a file</div>
  <div>
    <input type="file" name="report_file">
    <input type="submit" value="Submit">
  </div>
</form>
